html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0; 
    font-family: sans-serif;
}
/* changing the size of logo in header div*/
#logo{
    height: 60px;
    width: 60px;
    margin: auto;
}
/* changing the size of social media logo in footer div*/
.social-icons{
    height: 20px;
    width: 22px;
    text-decoration: none
}
header{
    background-color:rosybrown;
    position: fixed;
    width:100%;
    top: 0;
    z-index: 80;
}
footer{
    background-color:rosybrown;
    position: fixed;
    width:100%;
    bottom: 0;
}
#login{
    right: 0%;
    margin-top: 20px;
    margin-right: 1%;
    text-decoration: none;
    position: absolute;
    color: black;
}
#social{
    position: absolute;
    right:1%;
    align-items: center;
    bottom:25%;

}
#contact{
    bottom:32%;
    margin-left: 1%;
    text-decoration: none;
    position: absolute;
    text-align: center;
    color: black;
}
.copyRight{
    text-align: center;
    font-size: 10px;
}
a{
    text-decoration: none;
    color: black;
}