.hotel-img{
    height: 200px;
    width: 250px;
}
#list{
    scroll-behavior: smooth;
    
}
#container{
    display: grid;
}
.nav-item{
    color: black;
    
}
#map{
      
    scroll-behavior: smooth;
}


.hotels{
    margin-top: 2%;
    background-color: lightgray;
    width: 40%;
    float: left;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}
.body{
    display: flex;
    flex-direction: column;
}

.hotels:hover{
    background-color: rosybrown;
}
.checked {
    color: orange;
  }