.hotel-img{
    height: 200px;
    width: 250px;
}
#list, #map{
    scroll-behavior: smooth;
   
    
}
#map{
    display: none;  
    scroll-behavior: smooth;
}


.hotels{
    margin: 2%;
    background-color: lightgray;
    width: 40%;
    float: left;
    
    
}
.body{
    display: flex;
    flex-direction: column;
}
.hotels{
    display: flex;
    
}
